@page "/input/blockquality/create"
@inherits OwningComponentBase<BlockLabContext>
@inject NavigationManager NavManager
@inject UserManager<User> userManager

<link href="/css/BlazorValidation.css" rel="stylesheet" />

<PageTitle>Добавление исследования качества блоков - Лаборатория</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-2">
            <nav class="flex-column">
                <_InputLeftSidebarPartial />
            </nav>
        </div>
        <div class="col-md-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1 class="my-2 p-2">Добавление нового результата исследования качества блоков</h1>
                <div>
                    <NavLink class="btn btn-secondary" href="input/blockquality">Назад</NavLink>
                </div>

                @if (BlockQualityResearchData is null)
                {
                    <div class="row">
                        <div class="p-5 text-center">Загрузка ...</div>
                    </div>
                }
                else
                {
                    <EditForm Model="BlockQualityResearchData" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator/>
                        <div class="col-md-6">
                            <div>
                                <label>Дата результата</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.DateTime)" />
                                <InputDate class="form-control" @bind-Value="BlockQualityResearchData.DateTime" />
                            </div>
                            <div>
                                <label>Время результата</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.DateTime)" />
                                <input type="time" class="form-control" @bind="BlockQualityResearchData.DateTime" />
                            </div>
                            <div>
                                <label>Название результата исследования</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Name)" />
                                <InputText class="form-control" @bind-Value="BlockQualityResearchData.Name" />
                            </div>
                            <div>
                                <label>Вид исследования</label>
                                <p><strong>Вид исследования - качество блоков</strong></p>
                            </div>
                            <div>
                                <label>Объект исследования</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.ResearchObjectId)" />
                                <InputSelect class="form-select" @bind-Value="BlockQualityResearchData.ResearchObjectId">
                                    <option selected value="0" disabled="disabled">Выберите объект исследования</option>
                                    @foreach (var item in ResearchObjects.Keys)
                                    {
                                        <option value="@item">@ResearchObjects[item]</option>
                                    }
                                </InputSelect>
                            </div>
                            <div>
                                <label>Результат числовой</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Value)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.Value" />
                            </div>
                            <div>
                                <label>Результат текстовый:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Text)" />
                                <InputTextArea class="form-control" rows="3" @bind-Value="BlockQualityResearchData.Text" />
                            </div>
                            <div>
                                <label>Нормальность результата</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.IsNormal)" />
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="BlockQualityResearchData.IsNormal" class="form-check-input" />
                                    <label class="form-check-label">
                                        Норма
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div>
                                <label>Формат блока</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Format)" />
                                <InputText class="form-control" @bind-Value="BlockQualityResearchData.Format" />
                            </div>
                            <div>
                                <label>Марка блока</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Trademark)" />
                                <InputText class="form-control" @bind-Value="BlockQualityResearchData.Trademark" />
                            </div>
                            <div>
                                <label>Вес образца, г:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Weight)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.Weight" />
                            </div>
                            <div>
                                <label>Длинна образца, см:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.SizeX)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.SizeX" />
                            </div>
                            <div>
                                <label>Ширина образца, см:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.SizeY)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.SizeY" />
                            </div>
                            <div>
                                <label>Высота образца, см:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.SizeZ)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.SizeZ" />
                            </div>
                            <div>
                                <label>Плотность образца в сыром виде, кг/см3:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.RawDensity)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.RawDensity" />
                            </div>
                            <div>
                                <label>Коэффициент:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Coefficient)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.Coefficient" />
                            </div>
                            <div>
                                <label>Масса навески до высушивания, г:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.RawWeight)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.RawWeight" />
                            </div>
                            <div>
                                <label>Масса навески(сушеная), г:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.DriedWeight)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.DriedWeight" />
                            </div>
                            <div>
                                <label>Влажность, W%:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Humidity)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.Humidity" />
                            </div>
                            <div>
                                <label>Нагрузка, г:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Load)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.Load" />
                            </div>
                            <div>
                                <label>Прочность, %:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Strength)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.Strength" />
                            </div>
                            <div>
                                <label>Плотность в сухом виде, %:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.DriedDensity)" />
                                <InputNumber class="form-control" @bind-Value="BlockQualityResearchData.DriedDensity" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div>
                                <label>Смена</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.WorkShiftId)" />
                                <InputSelect class="form-select" @bind-Value="BlockQualityResearchData.WorkShiftId">
                                    <option selected value="0" disabled="disabled">Выберите смену</option>
                                    @foreach (var item in WorkShifts.Keys)
                                    {
                                        <option value="@item">@WorkShifts[item]</option>
                                    }
                                </InputSelect>
                            </div>
                            <div>
                                <label>Лаборант</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.UserId)" />
                                <InputSelect class="form-select" @bind-Value="BlockQualityResearchData.UserId">
                                    <option selected value="null" disabled="disabled">Выберите лаборанта</option>
                                    @foreach (var item in Users.Keys)
                                    {
                                        <option value="@item">@Users[item]</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>

                        <div>
                            <div>
                                <label>Примечание:</label>
                                <ValidationMessage For="@(() => BlockQualityResearchData.Note)" />
                                <InputTextArea class="form-control" rows="3" @bind-Value="BlockQualityResearchData.Note" />
                            </div>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>

@code {
    BlockLabContext _Context => Service;

    public BlockQualityResearch? BlockQualityResearchData { get; set; }
    public IDictionary<int, string> ResearchObjects { get; set; } = new Dictionary<int, string>();
    public IDictionary<int, string> WorkShifts { get; set; } = new Dictionary<int, string>();
    public IDictionary<string, string> Users { get; set; } = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        BlockQualityResearchData = new BlockQualityResearch
        {
            DateTime = DateTime.Now.AddSeconds(-DateTime.Now.Second),
            TypeResearchId = (await _Context.TypeResearches.FirstAsync(tr => tr.Name == Names.BlockQualityName)).Id,
        };
        ResearchObjects = await _Context.ResearchObjects.ToDictionaryAsync(r => r.Id, r => r.Name);
        WorkShifts = await _Context.WorkShifts.ToDictionaryAsync(w => w.Id, w => w.Name);
        Users = await userManager.Users
            .ToDictionaryAsync(u => u.Id, u => $"{u.SurName} {u.FirstName} {u.Patronymic}");
    }

    public async Task HandleValidSubmit()
    {
        _Context.BlockQualityResearches.Add(BlockQualityResearchData);
        await _Context.SaveChangesAsync();

        NavManager.NavigateTo("input/blockquality");
    }
}
