@page "/input/mud/create"
@inherits OwningComponentBase<BlockLabContext>
@inject NavigationManager NavManager

<link href="/css/BlazorValidation.css" rel="stylesheet" />

<PageTitle>Добавление исследования шлама - Лаборатория</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-2">
            <nav class="flex-column">
                <_InputLeftSidebarPartial />
            </nav>
        </div>
        <div class="col-md-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1 class="my-2 p-2">Добавление нового результата исследования шлама</h1>
                <div>
                    <NavLink class="btn btn-secondary" href="input/cement">Назад</NavLink>
                </div>

                @if (MudResearchDat is null)
                {
                    <div class="row">
                        <div class="p-5 text-center">Загрузка ...</div>
                    </div>
                }
                else
                {
                    <EditForm Model="MudResearchDat" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator/>
                        <div class="col-md-6">
                            <div>
                                <label>Дата результата</label>
                                <ValidationMessage For="@(() => MudResearchDat.DateTime)" />
                                <InputDate class="form-control" @bind-Value="MudResearchDat.DateTime" />
                            </div>
                            <div>
                                <label>Время результата</label>
                                <ValidationMessage For="@(() => MudResearchDat.DateTime)" />
                                <input type="time" class="form-control" @bind="MudResearchDat.DateTime" />
                            </div>
                            <div>
                                <label>Название результата исследования</label>
                                <ValidationMessage For="@(() => MudResearchDat.Name)" />
                                <InputText class="form-control" @bind-Value="MudResearchDat.Name" />
                            </div>
                            <div>
                                <label>Вид исследования</label>
                                <p><strong>Вид исследования - исследование шлама</strong></p>
                            </div>
                            <div>
                                <label>Объект исследования</label>
                                <ValidationMessage For="@(() => MudResearchDat.ResearchObjectId)" />
                                <InputSelect class="form-select" @bind-Value="MudResearchDat.ResearchObjectId">
                                    <option selected value="0" disabled="disabled">Выберите объект исследования</option>
                                    @foreach (var item in ResearchObjects.Keys)
                                    {
                                        <option value="@item">@ResearchObjects[item]</option>
                                    }
                                </InputSelect>
                            </div>
                            <div>
                                <label>Результат числовой</label>
                                <ValidationMessage For="@(() => MudResearchDat.Value)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Value" />
                            </div>
                            <div>
                                <label>Результат текстовый:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Text)" />
                                <InputTextArea class="form-control" rows="3" @bind-Value="MudResearchDat.Text" />
                            </div>
                            <div>
                                <label>Нормальность результата</label>
                                <ValidationMessage For="@(() => MudResearchDat.IsNormal)" />
                                <div class="form-check">
                                    <InputCheckbox @bind-Value="MudResearchDat.IsNormal" class="form-check-input" />
                                    <label class="form-check-label">
                                        Норма
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div>
                                <label>Плотность:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Density)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Density" />
                            </div>
                            <div>
                                <label>Поверхность:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Surface)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Surface" />
                            </div>
                            <div>
                                <label>Сито 0.2:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Sieve0_8)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Sieve0_8" />
                            </div>
                            <div>
                                <label>Сито 0.09:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Sieve0_09)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Sieve0_09" />
                            </div>
                            <div>
                                <label>Сито 0.045:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Sieve0_045)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Sieve0_045" />
                            </div>
                            <div>
                                <label>Содержание гипса:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Gypsum)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Gypsum" />
                            </div>
                            <div>
                                <label>Влажность:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Humidity)" />
                                <InputNumber class="form-control" @bind-Value="MudResearchDat.Humidity" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div>
                                <label>Смена</label>
                                <ValidationMessage For="@(() => MudResearchDat.WorkShiftId)" />
                                <InputSelect class="form-select" @bind-Value="MudResearchDat.WorkShiftId">
                                    <option selected value="0" disabled="disabled">Выберите смену</option>
                                    @foreach (var item in WorkShifts.Keys)
                                    {
                                        <option value="@item">@WorkShifts[item]</option>
                                    }
                                </InputSelect>
                            </div>
                            <div>
                                <label>Лаборант</label>
                                <ValidationMessage For="@(() => MudResearchDat.LabAssistantId)" />
                                <InputSelect class="form-select" @bind-Value="MudResearchDat.LabAssistantId">
                                    <option selected value="null" disabled="disabled">Выберите лаборанта</option>
                                    @foreach (var item in Assistans.Keys)
                                    {
                                        <option value="@item">@Assistans[item]</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>

                        <div>
                            <div>
                                <label>Примечание:</label>
                                <ValidationMessage For="@(() => MudResearchDat.Note)" />
                                <InputTextArea class="form-control" rows="3" @bind-Value="MudResearchDat.Note" />
                            </div>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>

@code {
    BlockLabContext _Context => Service;

    public MudResearch? MudResearchDat { get; set; }
    public IDictionary<int, string> ResearchObjects { get; set; } = new Dictionary<int, string>();
    public IDictionary<int, string> WorkShifts { get; set; } = new Dictionary<int, string>();
    public IDictionary<int, string> Assistans { get; set; } = new Dictionary<int, string>();

    protected override async Task OnInitializedAsync()
    {
        MudResearchDat = new MudResearch
        {
            DateTime = DateTime.Now.AddSeconds(-DateTime.Now.Second),
            TypeResearchId = (await _Context.TypeResearches.FirstAsync(tr => tr.Name == Names.MudName)).Id,
        };
        ResearchObjects = await _Context.ResearchObjects.ToDictionaryAsync(r => r.Id, r => r.Name);
        WorkShifts = await _Context.WorkShifts.ToDictionaryAsync(w => w.Id, w => w.Name);
        Assistans = await _Context.LabAssistants
            .Where(u => !u.IsInactive)
            .ToDictionaryAsync(u => u.Id, u => $"{u.SurName} {u.FirstName} {u.Patronymmic}");
    }

    public async Task HandleValidSubmit()
    {
        _Context.MudResearches.Add(MudResearchDat);
        await _Context.SaveChangesAsync();

        NavManager.NavigateTo("input/mud");
    }
}
