@model IEnumerable<ResearchWebModel>
@{
    ViewBag.Title = "Все результаты";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3 mb-2">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1>@ViewBag.Title</h1>

                <p>Все результаты исследований по лаборатории:</p>
                
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Дата и время</th>
                                <th>Название</th>
                                <th>Вид</th>
                                <th>Результат</th>
                                <th>Норма</th>
                                <th>Лаборант</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model is null)
                            {
                                <tr><td colspan="7" class="p-3">Данные отсутсвуют</td></tr>
                            }
                            else
                            {
                                @foreach (var m in Model)
                                {
                                    <tr class="@(m.IsNormal?"":"bg-danger bg-opacity-25")">
                                        <td>@m.DateTime.ToString("dd MMMM yyyy") @m.DateTime.ToString("t")</td>
                                        <td>@m.Name</td>
                                        <td>@m.TypeResearchName</td>
                                        <td>@((m.Value != 0.0) ? m.Value.ToString("F1") : "") @m.Text</td>
                                        <td>@((m.IsNormal) ? "Да" : "Нет")</td>
                                        <td>@m.LabAssistantSurFP</td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-info">Инфо</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>