@model ResearchFilterSortPagiWebModel
@{
    ViewBag.Title = "Результаты исследований";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3 mb-2">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1>@ViewBag.Title</h1>

                <p>Результаты лабораторных исследований по лаборатории:</p>
                
                <form method="get">
                    <label>Фильтр по названию:</label>
                    <div class="input-group mb-3">
                        <input name="name" class="form-control" value="@Model.Filter.Name" placeholder="Введите часть названия"/>
                        <input type="submit" value="Фильтр" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Отфильтровать результаты лабораторных анализов по части названия"/>
                    </div>
                </form>
                @if (Model.Researches.FirstOrDefault() is { } first)
                {
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped">
                            <thead>
                            <tr>
                                <th><label>№</label></th>
                                <th>
                                    <sorting action="Index" current="@Model.Sort.Current" up="@Model.Sort.Up" property="@Model.Sort.Date"
                                             page-url-name="@Model.Filter.Name" page-url-typeid="@Model.Filter.TypeId" 
                                             page-url-isnormal="@Model.Filter.IsNormal" page-url-objid="@Model.Filter.ObjId">
                                        Дата
                                    </sorting>
                                </th>
                                <th>
                                    <sorting action="Index" current="@Model.Sort.Current" up="@Model.Sort.Up" property="@Model.Sort.Name"
                                             page-url-name="@Model.Filter.Name" page-url-typeid="@Model.Filter.TypeId" 
                                             page-url-isnormal="@Model.Filter.IsNormal" page-url-objid="@Model.Filter.ObjId">
                                        Название
                                    </sorting>
                                </th>
                                <th>
                                    <sorting action="Index" current="@Model.Sort.Current" up="@Model.Sort.Up" property="@Model.Sort.Type"
                                             page-url-name="@Model.Filter.Name" page-url-typeid="@Model.Filter.TypeId" 
                                             page-url-isnormal="@Model.Filter.IsNormal" page-url-objid="@Model.Filter.ObjId">
                                        Вид
                                    </sorting>
                                </th>
                                <th>
                                    <sorting action="Index" current="@Model.Sort.Current" up="@Model.Sort.Up" property="@Model.Sort.Value"
                                             page-url-name="@Model.Filter.Name" page-url-typeid="@Model.Filter.TypeId" 
                                             page-url-isnormal="@Model.Filter.IsNormal" page-url-objid="@Model.Filter.ObjId">
                                        Результат
                                    </sorting>
                                </th>
                                <th>
                                    <sorting action="Index" current="@Model.Sort.Current" up="@Model.Sort.Up" property="@Model.Sort.Normal"
                                             page-url-name="@Model.Filter.Name" page-url-typeid="@Model.Filter.TypeId" 
                                             page-url-isnormal="@Model.Filter.IsNormal" page-url-objid="@Model.Filter.ObjId">
                                        Норма
                                    </sorting>
                                </th>
                                <th>
                                    <sorting action="Index" current="@Model.Sort.Current" up="@Model.Sort.Up" property="@Model.Sort.Assistant"
                                             page-url-name="@Model.Filter.Name" page-url-typeid="@Model.Filter.TypeId" 
                                             page-url-isnormal="@Model.Filter.IsNormal" page-url-objid="@Model.Filter.ObjId">
                                        Лаборант
                                    </sorting>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @{ var i = Model.Pagi.StartNumber; }
                            @foreach (var m in Model.Researches)
                            {
                                <tr class="@(m.IsNormal ? "" : "bg-danger bg-opacity-25")">
                                    <td>@(i++)</td>
                                    <td>@m.DateTime.ToString("dd.MM.yyyy г.", new CultureInfo("ru-RU")) @m.DateTime.ToString("HH:mm")</td>
                                    <td>@m.Name</td>
                                    <td>@m.TypeResearchName</td>
                                    <td>@((m.Value != 0.0) ? m.Value.ToString("F1") : "") @m.Text</td>
                                    <td>@((m.IsNormal) ? "Да" : "Нет")</td>
                                    <td>@m.LabAssistantSurFP</td>
                                    <td>
                                        <a asp-action="Info" asp-controller="Research" asp-route-id="@m.Id" class="btn btn-sm btn-info">
                                            Инфо
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <pagination page-model="@Model.Pagi" action="Index" page-url-name="@Model.Filter.Name" 
                                    page-url-typeid="@Model.Filter.TypeId" page-url-isnormal="@Model.Filter.IsNormal" 
                                    page-url-objid="@Model.Filter.ObjId" page-url-order="@Model.Sort.Previous"></pagination>
                    </div>

                }
                else
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-4 bg-warning bg-opacity-10 text-center">
                                Результаты исследований по такому запросу отсутствуют в базе данных ...
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>