<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(_Layout)">
            <NotAuthorized Context="authContext">
                <h4 class="bg-danger text-white text-center p-2">Недостаточно прав</h4>
                <div class="text-center">
                    Недостаточно прав для доступа к этому разделу приложения
                </div>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Не найдено</PageTitle>
        <LayoutView Layout="@typeof(_Layout)">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Не найдена страница с этим адресом.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </LayoutView>
    </NotFound>
</Router>