@model BlockLab.Controllers.RoleController.RoleWebModel
@{
    ViewBag.Title = "Удаление роли пользователей";
}

<div class="row">
    <div class="col-md-4 col-lg-3 mb-1">
        <partial name="Partial/_AccountLeftSidebarPartial" />
    </div>
    <div class="col-md-8 col-lg-9 mb-1">
        <div class="border-1 shadow rounded bg-light p-2">
            <h1>@ViewBag.Title</h1>

            <div class="col-lg-12">
                <h5 class="my-4">Вы действительно хотите удалить роль пользователей с описанием @Model.Description, и именем: @Model.Name?</h5>

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UsersCount)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UsersCount)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UsersNames)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UsersNames)
                    </dd>
                </dl>

                <div class="form-group my-2">
                    @if (Model.UsersCount != 0)
                    {
                        <div class="alert-warning p-2 my-4">
                            <h5>Нельзя! Нельзя удалить роль пользователей, которая используется хотя-бы одним пользователем!</h5>
                        </div>
                    }
                    @if (Model.Name == "admins")
                    {
                        <div class="alert-warning p-2 my-4">
                            <h5>Нельзя! Нельзя удалить роль администраторов, это роль, которая должна обязательно оставаться в системе!</h5>
                        </div>
                    }
                    <form asp-controller="Role" asp-action="DeleteConfirmed" asp-antiforgery="true" asp-route-id="@Model.Id">
                        <input type="submit" value="Подтвердить удаление роли пользователей" class="btn btn-danger mb-1 @((Model.UsersCount != 0 || Model.Name == "admins") ? "disabled" : "")" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить окончательно роль пользователей" />
                        <a asp-controller="Role" asp-action="Index" class="btn btn-secondary mb-1">Назад</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



