@model IEnumerable<BlockLab.Controllers.RoleController.RoleWebModel>
@{
    ViewBag.Title = "Список ролей пользователей";
}

<div class="row">
    <div class="col-md-4 col-lg-3 mb-1">
        <partial name="Partial/_AccountLeftSidebarPartial" />
    </div>
    <div class="col-md-8 col-lg-9 mb-1">
        <div class="border-1 bg-light shadow rounded-1 p-2">
            <h1>@ViewBag.Title</h1>
            <div class="table-responsive">
                <div class="my-2">
                    <a asp-controller="Role" asp-action="Create" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right" title="Создать новую роль для пользователей">
                        Создать
                    </a>
                </div>
                <table class="table my-2 table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Пользователи</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="4" class="text-center">Нет ролей пользователей</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@role.Name</td>
                                    <td>@role.Description</td>
                                    <td>@role.UsersCount шт.: @role.UsersNames</td>
                                    <td class="text-center">
                                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать роль" class="btn btn-sm btn-warning mb-1">
                                            <i class="fa fa-edit"></i> Редактировать
                                        </a>
                                        <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" data-bs-toggle="tooltip" data-bs-placement="right" title="Удалить роль" class="btn btn-sm btn-danger mb-1">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

